#!/bin/sh -

SQUAWK_PATH="$(realpath $(dirname $1))"
export SQUAWK_PATH

C_INCLUDE_PATH="$C_INCLUDE_PATH:$SQUAWK_PATH/include"
export C_INCLUDE_PATH

CPP_INCLUDE_PATH="$CPP_INCLUDE_PATH:$SQUAWK_PATH/include"
export CPP_INCLUDE_PATH

C_PATH="$SQUAWK_PATH/include"
export C_PATH

LIBRARY_PATH="$LIBRARY_PATH"
export LIBRARY_PATH

CFLAGS="-xc -std c11"
export CFLAGS

# vim: ft=2 sts=2 sw=2 et ai
